RewriteEngine On

# Redirect www → non-www and force HTTPS
RewriteCond %{HTTP_HOST} ^www\.drsubramanyamsspennerucardiologist\.in [NC]
RewriteRule ^(.*)$ https://drsubramanyamsspennerucardiologist.in/$1 [L,R=301]

# Force HTTPS for non-www
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://drsubramanyamsspennerucardiologist.in/$1 [L,R=301]


# Redirect data/index.html to root URL
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ https://drsubramanyamsspennerucardiologist.in/ [L,R=301]
